body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.white-color {
  color: white;
}

.back-link {
  color: white;
}

.dark-theme {
  color: white!important;
  background-color: black!important;
}

.dark-theme-headline {
  color: black;
}

.dark-theme-card {
  background-color: grey;
}

.page-container {
  background: hotpink;
  min-height: 100vh;
}